body{
    display: flex;
    justify-content: center;
    align-content: center;
}
div{
    width: 470px;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#site{
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
@media (max-width:470px) {
    div{
        width: 100%;
        margin-bottom: 7rem;
    }    
}