body{
    display: flex;
    justify-content: center;
    align-content: center;
}
div{
    width: 550px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
img{
    margin: 10%;
}
a{
    margin-bottom: 10rem;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
@media (max-width:520px) {
    div{
        width: 100%;
    }     
    img{
        margin: 7%;
    }    
}